<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kotty.webhooklogs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WebhookLogs</name>
    <description>View webhook logs and receive alerts.</description>
    <author email="" href="">Kotty</author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-local-notification" />
</widget>
